.prices {
  min-height: 475px;
  background-color: #f2f2f2;
  background-size: 100% 475px;
  padding-top: 90px;
  clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 100%);
}

.prices img {
  width: 30px;
  height: 30px;
}

.prices__table tr {
  display: flex;
  justify-content: space-between;
  padding: 20px 4% 5px;
  margin: 0 6%;
  border: 2px solid #e5e5e5;
  border-top: none;
  background-color: #fff;
}

.prices__table td:nth-child(4),
.prices__table td:nth-child(3),
.prices__table td:nth-child(2){
  display: none;
}

.prices__table,
.prices__table tbody {
  font-size: 14px;
  line-height: 30px;
  display: block;
}

.prices__table {
  position: relative;
}

.prices__table tr:first-child {
  display: block;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  background-color: $primary-color;
  color: #fff;
  text-transform: uppercase;
}

.prices__table tr:first-child td {
  display: none;
}

.prices__table td:first-child {
  text-transform: uppercase;
}

.prices__standard:after {
  content: '';
  display: block;
  position: absolute;
  width: 74px;
  height: 74px;
  background: url("../img-optimized/bg-hit-mobile.png") no-repeat;
  top: 0;
  left: 6.25%;
}

.prices__usd-price {
  font-size: 24px;
  font-weight: normal;
  font-family: $light-font;
}

.prices__slider-controls label {
  border-color: #f2f2f2;
}

#prices-input-1:checked ~ .prices__slider-controls label[for="prices-input-1"],
#prices-input-2:checked ~ .prices__slider-controls label[for="prices-input-2"],
#prices-input-3:checked ~ .prices__slider-controls label[for="prices-input-3"] {
  border-color: $primary-color;
}

#prices-input-1:checked ~ .prices__table .prices__base,
#prices-input-2:checked ~ .prices__table .prices__standard,
#prices-input-3:checked ~ .prices__table .prices__unlimited {
  display: block;
}

#prices-input-1:checked ~ .prices__table td:nth-child(2),
#prices-input-2:checked ~ .prices__table td:nth-child(3),
#prices-input-3:checked ~ .prices__table td:nth-child(4){
  display: block;
}

@include tablet {
  .prices {
    min-height: 380px;
    background-size: 100% 380px;
    padding-top: 70px;
  }

  .prices__table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  .prices__table tbody {
    display: table-row-group;
  }

  .prices__wrapper .prices__table tr{
    display: table-row;
    border: none;
    padding: 0;
  }

  .prices__table td {
    display: table-cell !important; // very high level of specificity on mobile version due to inputs. Would be really painful to try to override.
    width: 25%;
  }

  .prices__table .prices__empty-table-cell {
    background-color: #f2f2f2;
    border: none;
  }

  .prices__wrapper {
    @include container;
  }

  .prices__slider-controls {
    display: none;
  }

  .prices__standard {
    position: relative;
  }

  .prices__standard:after {
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img-optimized/bg-hit-tablet.png") no-repeat;
  }

  .prices__table td {
    border: 2px solid #e5e5e5;
    text-align: center;
    padding-top: 10px;
  }

  .prices__table td:first-child {
    text-transform: none;
    padding: 2px 0 2px 15px;
    text-align: left;
  }


  .prices__table tr:first-child td {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .prices__usd-price {
    font-size: 18px;
  }
}

@include desktop {
  .prices {
    min-height: 525px;
    background-size: 100% 525px;
    padding-top: 140px;
  }

  .prices__table td:first-child {
    font-size: 18px;
  }

  .prices__table tr:first-child td {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .prices__usd-price {
    font-size: 24px;
  }

  .prices__table td {
    padding-top: 15px;
    padding-bottom: 5px;
  }
}